@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  /* border-bottom: 1px solid #f2f2f2; */
}

.navbar h1 {
  color: #f10048;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  /* text-decoration: none; */
  padding: 6px;
}

.navbar a:hover {
  color: #df2727;
}

.content {
  max-width: 750px;
  margin: 40px auto;
  padding: 20px;
}

.home {
  text-align: left;
  max-width: 750px;
  margin: auto;
  margin-top: 10px;
  /* border: gray solid 3px; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: justify;
}

.home .AddPassanger {
  padding: 10px;
  /* align-content: center; */
  text-align: center;
  width: 200px;
  border: 3px solid gray;
  box-shadow: 20px black;
  margin: 20px;
  box-shadow:
    0 0 0 10px hsl(0, 0%, 80%),
    0 0 0 15px hsl(0, 0%, 90%);
}

.home .RemovePassanger {
  padding: 10px;
  text-align: center;
  width: 200px;
  border: 3px solid gray;
  margin: 20px;
  box-shadow:
    0 0 0 10px hsl(0, 0%, 80%),
    0 0 0 15px hsl(0, 0%, 90%);
}

.home .BusInfo {
  padding: 10px;
  text-align: center;
  width: 200px;
  border: 3px solid gray;
  margin: 20px;
  align-self: center;
  box-shadow:
    0 0 0 10px hsl(0, 0%, 80%),
    0 0 0 15px hsl(0, 0%, 90%);
}